*{
    box-sizing: border-box;
    margin: 10px 10px;
    padding: 0;
    color: #071025;
}

.title{
    font-size: 40px;
    margin: auto;
}
section{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.create_container{
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
}
.create_input{
    padding: 5px 5px;
    font-size: 18px;
    width: 80%;
}
.create_button{
    padding: 12px 20px;
    background-color:  rgb(161, 53, 161);
    border: 1px solid rgb(161, 53, 161);
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 0;
}
.create_button:active{
    border: 1px solid rgb(161, 53, 161);
    box-shadow: 2px 2px 5px 3px rgb(196, 125, 224);
}
.full_box{
    margin-top: 0;
}

.block{
    border: 2px solid black;
    width: 600px;
    height: 500px;
    color: rgb(8, 39, 218);
    background-color: rgb(255, 181, 245);
}
.little_block{
    border: 2px solid rgb(128, 0, 17);
    background-color: rgb(250, 129, 230);
}

h1{
    color: blue;
    text-align: center;
    font-style: oblique;
}

h2{
    color: rgb(211, 7, 24);
    text-align: center;
    font-style: oblique;
}
.description{
    font-size: 24px;
    font-style: italic;
    text-align: justify;
}


.price{
    color: rgb(5, 27, 226);
    font-size: 18px;
    font-weight: bold;
}
.genre{
    color: rgb(5, 27, 226);
    font-size: 18px;
    font-weight: bold;
}

.author{
    color: rgb(5, 27, 226);
    font-size: 18px;
    font-weight: bold;
}

.year{
    color: rgb(5, 27, 226);
    font-size: 18px;
    font-weight: bold;
}

.date{
    color: rgb(5, 27, 226);
    font-size: 18px;
    font-weight:bold;
    margin-top: 5px;
}

span{
    color: black;
}

.action_buttons{
    width: 100px;
    height: 50px;
    margin: 0;
    display: flex;
    float: right;
}

a img{
    margin: 0;
    width: 35px;
    height: 35px;
}

.block.mark{
    background-color: rgb(236, 236, 97);
    border: 2px solid rgb(206, 206, 48);
}

.little_block.mark{
    background-color: rgb(236, 236, 97);
    border: 2px solid rgb(206, 206, 48);
}