.checkbox_container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark{
    position: absolute;
    top: -7px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    display: block;
    opacity: 5;
}

.checkbox_container:hover input ~ .checkmark{
    background-color: white;
}

.checkbox_container input:checked ~ .checkmark{
    background-color: rgb(63, 74, 224);
}

.checkmark::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 15px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    bottom: 30%;
    left: 20%;
    transform:  rotate(35deg);
}
