{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/books.css">
</head>
<body>
    <section>

        <div class="create_container">
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Заголовок"
                    name="book_title"                
                />
                <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Подзаголовок"
                    name="book_subtitle"                
                />
                <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Описание"
                    name="book_description"                
                />
                <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Цена"
                    name="book_price"                
                />
                <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Жанры"
                    name="book_genre"                
                />
                <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Автор"
                    name="book_author"                
                />
                <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Год выпуска"
                    name="book_year"                
                /> <br>
                <button class="create_button">Добавить</button>
            </form>
        </div>
    
    
        <div class="full_box">
            
            <div class="wrap">
                <div class="block marked">
                    <div class="little_block">
                        <h1></h1>
                        <h2></h2>
                        <p class="description"></p>
                    </div>
                    <span class="price">Цена: <span></span> сом</span> <br>
                    <span class="genre">Жанр: <span></span></span> <br>
                    <span class="author">Автор: <span></span></span><br>
                    <span class="year">Год выпуска: Дата добавления книги на сайт:<span></span></span><br>
                    <span class="date"><span></span></span>
                    </div>
                </div>
            </div>
            
    </section>
</body>
</html>