<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ book_object.title }}</h1>
    <h2>{{ book_object.subtitle }}</h2>
    <p>{{ book_object.description }}</p>
    <span>{{ book_object.price }}</span>
    <span>{{ book_object.genre }}</span>
    <span>{{ book_object.author }}</span>
    <span>{{ book_object.year }}</span>
    <span>{{ book_object.date }}</span>

</body>
</html>