{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/books.css">
</head>
<body>
    <section>
        <h1 class="title">Bookshop</h1>
        <div class="create_container">
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Заголовок"
                    name="book_title"                
                />
                <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Подзаголовок"
                    name="book_subtitle"                
                />
                <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Описание"
                    name="book_description"                
                />
                <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Цена"
                    name="book_price"                
                />
                <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Жанры"
                    name="book_genre"                
                />
                <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Автор"
                    name="book_author"                
                />
                <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Год выпуска"
                    name="book_year"                
                /> <br>
                <button class="create_button">Добавить</button>
            </form>
        </div>
        <div class="full_box">
            {% for book in books_list %}
            <div class="wrap">
                <div class="block
                    {% if book.is_favorite %}
                        mark
                    {% endif %}
                
                ">
                <div class="little_block
                    {% if book.is_favorite %}
                        mark
                    {% endif %}
                
                ">
                    <h1>{{ book.title }}</h1>
                    <h2>{{ book.subtitle }}</h2>
                    <p class="description">{{ book.description }}</p>
                </div>
                <span class="price">Цена: <span>{{ book.price }}</span> сом</span> 
                <a href="{% url 'bookdetail' book.id %}">***</a> <br>
                <span class="genre">Жанр: <span>{{ book.genre }}</span></span> <br>
                <span class="author">Автор: <span>{{ book.author }}</span></span><br>
                <span class="year">Год выпуска: <span>{{ book.year }}</span></span><br>
                <span class="date">Дата добавления книги на сайт: <span>{{ book.date }}</span></span>
            
                    <div class="action_buttons" >
                            {% if book.is_favorite %}
                                <a href="{% url 'unmark-book' book.id %}"><img src="{% static './icons/star.png' %}"></a>
                            {% else %}
                                <a href="{% url 'mark-book' book.id %}"><img src="{% static './icons/star--v1.png'%}"></a>
                            {% endif %}
                                <a  href="{% url 'delete-book' book.id %}"><img src="{% static './icons/trash-empty.png'%}"></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</body>
</html>