{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/books.css">
</head>
<body>
    <div class="block">
    {% for book in books_list %}
        <div class="little_block">
            <h1>{{ book.title }}</h1>
            <h2>{{ book.subtitle }}</h2>
            <p class="description">{{ book.description }}</p>
        </div>
        <span class="price">Цена: <span>{{ book.price }}</span> сом</span> <br>
        <span class="genre">Жанр: <span>{{ book.genre }}</span></span> <br>
        <span class="author">Автор: <span>{{ book.author }}</span></span><br>
        <span class="year">Год выпуска: <span>{{ book.year }}</span></span><br>
        <span class="date">Дата добавления книги на сайт: <span>{{ book.date }}</span></span>
    {% endfor %}
    </div>
</body>
</html>